@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Luckiest+Guy&family=Outfit:wght@100..900&family=Rammetto+One&family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Fjalla+One&family=Luckiest+Guy&family=Outfit:wght@100..900&family=Rammetto+One&family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Boldonse&family=Fjalla+One&family=Luckiest+Guy&family=Outfit:wght@100..900&family=Rammetto+One&family=Sawarabi+Gothic&display=swap');

.header{
  -webkit-text-stroke: 2px black;
}

.text-2xl {
    -webkit-text-stroke: 1px black;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(1, 0, 24);
    overflow-x: hidden;
}

.slide {
    z-index: 0;
    position: absolute;
}

button{
    font-family: "Fjalla One", sans-serif;
    font-weight: 600;
}

@keyframes tape {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-tape {
    animation: tape 15s linear infinite;
    width: max-content;
}

.slide {
    position: absolute;
    animation: fade 16s infinite;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 4s;
}

.slide:nth-child(3) {
    animation-delay: 8s;
}

.slide:nth-child(4) {
    animation-delay: 12s;
}

.slide:nth-child(5) {
    animation-delay: 16s;
}

.displayText {
    font-family: "Bitcount Grid Double", system-ui;
        font-optical-sizing: auto;
        font-weight: 500;
        font-variation-settings:
            "slnt" 0,
            "CRSV" 0.5,
            "ELSH" 0,
            "ELXP" 0;
}